<app-page-title title="Add Branch" [breadcrumbItems]="breadCrumbItems"></app-page-title>
<p-toast></p-toast>
<app-loading-indicator *ngIf="showLoader"></app-loading-indicator>
<form [formGroup]="addBranchForm">
    <div class="page-title">
        <h4 class="page-title-text me-auto"></h4>
        <div class="page-title-end mt-4">
            <a (click)="reset()" class="btn btn-outline-dark btn-sm ms-1">Cancel</a>
            <button id="btnSubmit"  (click)="submit()" class="btn btn-primary btn-sm ms-1">
                {{editMode==true?'Update Branch':'Create Branch'}}
            </button>
        </div>
    </div>

    <div #targetForm class="content">
        <div class="card-widget">
            <div class="container">
             <div class="branch-data mb-4 p-4 rounded-3">
                <h3 class="mb-4">Branch Data : </h3>
                <div class="row mb-3">
                    <label class="col-md-3 col-form-label">Regions</label>
                    <div class="col-md-3">
                        <select class="form-control form-select select2-search-disable ng-valid ng-touched ng-dirty"
                            ng-reflect-model="Buy" formControlName="regionID" [(ngModel)]="selectedregionID"
                            (change)="onRegionChange()"
                            [class.is-invalid]="addBranchForm.get('regionID')?.hasError('required') && addBranchForm.get('regionID')?.touched">
                            <option value="" selected>Select Region</option>
                            <option value="1">Egypt</option>
                            <option value="2">KSA</option>
                            <option value="3">UAE</option>
                            <option value="4">QATAR</option>
                        </select>
                        <div *ngIf="addBranchForm.get('regionID')?.hasError('required') && addBranchForm.get('regionID')?.touched"
                            class="invalid-feedback">Field is required
                        </div>
                    </div>
                    <label class="col-md-auto col-form-label">Area</label>
                    <div class="col-md">
                        <select class="form-control form-select select2-search-disable ng-valid ng-touched ng-dirty"
                            ng-reflect-model="Buy" formControlName="areaID" [(ngModel)]="selectedAreaID"
                            (change)="onAreaChange()"
                            [class.is-invalid]="addBranchForm.get('areaID')?.hasError('required') && addBranchForm.get('areaID')?.touched">
                            <option value="" selected>Select Area</option>
                            <option *ngFor="let area of allAreasList" [value]="area.id" class="f-ar">{{area.name}}|
                                <span class="f-ar">{{area.nameAr}}</span>
                            </option>
                        </select>
                        <div *ngIf="addBranchForm.get('areaID')?.hasError('required') && addBranchForm.get('areaID')?.touched"
                            class="invalid-feedback">Field is required
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 col-form-label">Branch Name</label>
                    <div class="col-md-3">
                        <input formControlName="name" class="form-control" type="text"
                            [class.is-invalid]="addBranchForm.get('name')?.hasError('required') && addBranchForm.get('name')?.touched">
                        <div *ngIf="addBranchForm.get('name')?.hasError('required') && addBranchForm.get('name')?.touched"
                            class="invalid-feedback">Field is required
                        </div>
                    </div>
                    <label class="col-md-auto col-form-label">Branch Arabic Name</label>
                    <div class="col-md">
                        <input formControlName="nameAr" class="form-control f-ar" type="text"
                            [class.is-invalid]="addBranchForm.get('nameAr')?.hasError('required') && addBranchForm.get('nameAr')?.touched">
                        <div *ngIf="addBranchForm.get('nameAr')?.hasError('required') && addBranchForm.get('nameAr')?.touched"
                            class="invalid-feedback">Field is required
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 col-form-label">Branch Code</label>
                    <div class="col-md-9">
                        <input formControlName="branchCode" class="form-control" type="text"
                            [class.is-invalid]="addBranchForm.get('branchCode')?.hasError('required') && addBranchForm.get('branchCode')?.touched">
                        <div *ngIf="addBranchForm.get('branchCode')?.hasError('required') && addBranchForm.get('branchCode')?.touched"
                            class="invalid-feedback">Field is required
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 col-form-label">Geo Location</label>
                    <div class="col-md-9">
                        <input formControlName="geoLocation" class="form-control" type="text"
                            [class.is-invalid]="addBranchForm.get('geoLocation')?.hasError('required') && addBranchForm.get('geoLocation')?.touched">
                        <div *ngIf="addBranchForm.get('geoLocation')?.hasError('required') && addBranchForm.get('geoLocation')?.touched"
                            class="invalid-feedback">Field is required
                        </div>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <label class="col-md-3 col-form-label">Google Review Link</label>
                    <div class="col-md-9">
                        <input formControlName="googleReviewLink" class="form-control" type="text"
                            [class.is-invalid]="addBranchForm.get('googleReviewLink')?.hasError('required') && addBranchForm.get('googleReviewLink')?.touched">
                        <div *ngIf="addBranchForm.get('googleReviewLink')?.hasError('required') && addBranchForm.get('googleReviewLink')?.touched"
                            class="invalid-feedback">Field is required
                        </div>
                    </div>
                </div>
   <div class="row mb-3">
    <label class="col-md-3 col-form-label">Admin Emails</label>
    <div class="col-md-9">
        <div class="form-control mt-3" style="height: auto; min-height: 38px;">
            <div *ngFor="let email of getEmailsArray()" class="email-pill">
                {{ email }}
                <span (click)="removeEmail(email)" class="email-remove">x</span>
            </div>
            <input id="emails" #newEmail (keydown.enter)="addEmail(newEmail.value); $event.preventDefault()" class="form-control form-control-sm" type="text" placeholder="Add new email..." />
        </div>
    </div>
</div>
<div class="row mb-3">
    <label class="col-md-3 col-form-label">Admin Phone Numbers</label>
    <div class="col-md-9">
        <div class="form-control mt-3" style="height: auto; min-height: 38px;">
            <div *ngFor="let phone of getPhonesArray()" class="email-pill">
                {{ phone }}
                <span (click)="removePhone(phone)" class="email-remove">x</span>
            </div>
            <input id="phones" #newPhone (keydown.enter)="addPhone(newPhone.value); $event.preventDefault()" class="form-control form-control-sm" type="text" placeholder="Add new phone..." />
        </div>
    </div>
</div>

               
                  
             </div>
            
             
             <div class="branch-data mb-4 p-4 rounded-3">
                <!-- ............ -->
                <h3 class="mb-4">  Data Base : </h3>
                <div class="row mb-3">
                    <label class="col-md-3 col-form-label">Port Number</label>
                    <div class="col-md-9">
                        <input formControlName="portNum" class="form-control" type="text"
                            [class.is-invalid]="addBranchForm.get('portNum')?.hasError('required') && addBranchForm.get('portNum')?.touched">
                        <div *ngIf="addBranchForm.get('portNum')?.hasError('required') && addBranchForm.get('portNum')?.touched"
                            class="invalid-feedback">Field is required
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-md-3 col-form-label">Server Ip </label>
                    <div class="col-md-9">
                        <input formControlName="serverIP" class="form-control" type="text"
                            [class.is-invalid]="addBranchForm.get('serverIP')?.hasError('required') && addBranchForm.get('serverIP')?.touched">
                        <div *ngIf="addBranchForm.get('serverIP')?.hasError('required') && addBranchForm.get('serverIP')?.touched"
                            class="invalid-feedback">Field is required
                        </div>
                    </div>
                </div>
   <div class="row mb-3">
                    <label class="col-md-3 col-form-label">Server Name </label>
                    <div class="col-md-9">
                        <input formControlName="serverName" class="form-control" type="text"
                            [class.is-invalid]="addBranchForm.get('serverName')?.hasError('required') && addBranchForm.get('serverName')?.touched">
                        <div *ngIf="addBranchForm.get('serverName')?.hasError('required') && addBranchForm.get('serverName')?.touched"
                            class="invalid-feedback">Field is required
                        </div>
                    </div>
                </div>


                <div class="row mb-3">
                    <label class="col-md-3 col-form-label">User Name</label>
                    <div class="col-md-9">
                        <input formControlName="uName" class="form-control" type="text"
                            [class.is-invalid]="addBranchForm.get('uName')?.hasError('required') && addBranchForm.get('uName')?.touched">
                        <div *ngIf="addBranchForm.get('uName')?.hasError('required') && addBranchForm.get('uName')?.touched"
                            class="invalid-feedback">Field is required
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-md-3 col-form-label">Password</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input formControlName="pWord" class="form-control"
                                [type]="passwordVisible ? 'text' : 'password'"
                                [class.is-invalid]="addBranchForm.get('pWord')?.hasError('required') && addBranchForm.get('pWord')?.touched">
                            <button class="btn btn-outline-secondary" type="button"
                                (click)="togglePasswordVisibility()">
                                {{ passwordVisible ? 'Hide' : 'Show' }}
                            </button>
                        </div>
                        <div *ngIf="addBranchForm.get('pWord')?.hasError('required') && addBranchForm.get('pWord')?.touched"
                            class="invalid-feedback">Field is required
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 col-form-label">Database Name</label>
                    <div class="col-md-9">
                        <input formControlName="dbName" class="form-control" type="text"
                            [class.is-invalid]="addBranchForm.get('dbName')?.hasError('required') && addBranchForm.get('dbName')?.touched">
                        <div *ngIf="addBranchForm.get('dbName')?.hasError('required') && addBranchForm.get('dbName')?.touched"
                            class="invalid-feedback">Field is required
                        </div>
                    </div>
                </div>
                <!-- ............ -->
             </div>
           
               
             <div class="branch-data  p-4 rounded-3">
                <!-- ............ -->
                <h3 class="mb-4">     From the service provider:                    : </h3>
                <div class="row mb-3">
                    <label class="col-md-3 col-form-label">Sender</label>
                    <div class="col-md-9">
                        <input formControlName="sender" class="form-control" type="text"
                            [class.is-invalid]="addBranchForm.get('sender')?.hasError('required') && addBranchForm.get('sender')?.touched">
                        <div *ngIf="addBranchForm.get('sender')?.hasError('required') && addBranchForm.get('sender')?.touched"
                            class="invalid-feedback">Field is required
                        </div>
                    </div>
                </div>
        
                <div class="row mb-3">
                    <label class="col-md-3 col-form-label">Service Provider's Access Token</label>
                    <div class="col-md-9">
                        <input formControlName="serviceProviderAccessToken" class="form-control" type="text"
                            [class.is-invalid]="addBranchForm.get('serviceProviderAccessToken')?.hasError('required') && addBranchForm.get('serviceProviderAccessToken')?.touched">
                        <div *ngIf="addBranchForm.get('serviceProviderAccessToken')?.hasError('required') && addBranchForm.get('serviceProviderAccessToken')?.touched"
                            class="invalid-feedback">Field is required
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-md-3 col-form-label">Api Link</label>
                    <div class="col-md-9">
                        <input formControlName="spapiLink" class="form-control" type="text"
                            [class.is-invalid]="addBranchForm.get('spapiLink')?.hasError('required') && addBranchForm.get('spapiLink')?.touched">
                        <div *ngIf="addBranchForm.get('spapiLink')?.hasError('required') && addBranchForm.get('spapiLink')?.touched"
                            class="invalid-feedback">Field is required
                        </div>
                    </div>
                </div>
                </div>  
               
                

            </div><!--container-sm-->

        </div><!--card-widget-->
    </div><!--content-->
</form>


<div class="content mt-5">
    <div class="card-widget">
        <div class="page-title">
            <h4 class="page-title-text me-auto">Branches List</h4>
        </div>

        <div class="table-search ms-auto">
            <i class="fi fi-rr-search"></i>
            <input type="text" class="form-control form-control-sm" placeholder="Search..">
        </div>

        <div class="table-responsive">
            <p-table [value]="allBranchList" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5, 10, 20]" class="table table-striped">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:15%">Name</th>
                        <th style="width:15%">Arabic Name</th>
                        <th style="width:20%">Region</th>
                        <th style="width:15%">Branch Code</th>
                        <th style="width:15%">GeoLocation</th>
                        <th style="width:15%">GoogleReviewLink</th>
                        <th style="width:15%">emailsAdmin</th>
                        <th style="width:15%">mobilesAdmin</th>
                        <th style="width:15%">option</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-branch>
                    <tr>
                        <td>{{ branch.name }}</td>
                        <td class="f-ar">{{ branch.nameAr }}</td>
                        <td>
                            <img class="flag-icon" [src]="branch.regionID==(1)?'../../../assets/images/flags/egypt.png':
                        (branch.regionID)==(2)?'../../../assets/images/flags/ksa.png':
                        (branch.regionID)==(4)?'../../../assets/images/flags/qatar.jpg':
                        (branch.regionID)==(3)?'../../../assets/images/flags/uae.png':''">
                            {{branch.regionID==1?'Egypt':
                            branch.regionID==2?'KSA':
                            branch.regionID==3?'UAE':'Qatar'}}
                        </td>
                        <td>{{ branch.branchCode }}</td>
                        <td>
                            <a [href]="branch.geoLocation" target="_blank">{{ branch.geoLocation }}</a>
                        </td>
                        <td>
                            <a [href]="branch.googleReviewLink" target="_blank">{{ branch.googleReviewLink }}</a>
                        </td>
                        <td>
                            <div *ngIf="branch.emailsAdmin">
                                <div *ngFor="let email of branch.emailsAdmin.split(',')">
                                    {{ email }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="branch.emailsAdmin">
                                <div *ngFor="let number of branch.mobilesAdmin.split(',')">
                                    {{ number }}
                                </div>
                            </div>
                        </td>
                        <td>
                            <button (click)="editBranch(branch)" class="btn btn-warning btn-sm">Edit</button>
                        </td>


                    </tr>
                </ng-template>
                <tr>
                    <td colspan="6">
                        <div class="error-s">
                            <i><img src="../../../../assets/images/empty-page.svg" alt="" /></i>
                            <h1><span>No</span> Data Found <span>!</span></h1>
                        </div>
                    </td>
                </tr>

            </p-table>
        </div>
    </div>
</div>