<h4  class="container-fluid mb-4 font-size-18">Fliter Controls</h4>
<div class="container">
    <div class="row">
        <div class="col-xl col-sm-6">
            <div class="mb-3">
                <label >Date :</label>
                <input placeholder="yyyy-mm-dd" name="dp"  bsdatepicker autocomplete="off" class="form-control">
                <!--container-->
            </div>
        </div>
        <div  class="col-xl col-sm-6">
            <div  class="mb-3">
                <label >Nationality</label>
                <select class="form-control select2-search-disable ng-valid ng-touched ng-dirty" ng-reflect-model="Bitcoin">
                    <option value="" selected="" >Select Nationality</option>
                    <option value="Sudaneese" >Sudaneese	</option>
                    <option value="Saudi" >Saudi	</option>
                    <option value="Jordanian" >Jordanian	</option>
                </select>
            </div>
        </div>
        <div  class="col-xl col-sm-6">
            <div  class="mb-3">
                <label >Gender</label>
                <select class="form-control select2-search-disable ng-valid ng-touched ng-dirty" ng-reflect-model="Buy">
                    <option value="" selected="" >Select Gender</option>
                    <option value="Male" selected="">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
        </div>
        <div class="col-xl col-sm-6">
            <div class="mb-3">
                <label >Status</label>
                <select class="form-control select2-search-disable ng-valid ng-dirty ng-touched" ng-reflect-model="Buy">
                    <option  value="" selected="" >Select Status</option>
                    <option  value="Approval" >Approval</option>
                    <option  value="Expired" >Expired</option>
                </select>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="mb-3">
                <label >Sms Satus</label>
                <select class="form-control select2-search-disable ng-valid ng-dirty ng-touched" ng-reflect-model="Buy">
                    <option  value="" selected="" >Select Status</option>
                    <option  value="Approval" >Approval</option>
                    <option  value="Expired" >Expired</option>
                </select>
            </div>
        </div>
        <div  class="col-xl-auto col-sm-6 align-self-end">
            <div  class="mb-3">
                <button  type="button" class="btn btn-primary w-md">Filter</button>
            </div>
        </div>
    </div>
</div>