.modal-content{ background-color: var(--gray-color-10); border-radius: $radius-lg;
	.modal-header{ border: none;
		.modal-title{ color: var(--primary-color);}
		.btn-close{ padding: 0;
            &:focus{ box-shadow: none;}
        }
	}
	.modal-body{ margin: 0 rem(10) rem(10); background-color: var(--white-color); border-radius: $radius-lg; box-shadow: $box-shadow;}
	.modal-footer{ border: none; padding-top: 0; justify-content: center;}
}

/***** Alert Modal ******/

.info-modal{ text-align: center; font-size: $fs-15;
    .modal-body{ margin: rem(10) rem(10) 0;}
    .modal-content{ border: none; border-top: .3em solid var(--primary-color);}
    .modal-footer{ padding: rem(5);}
    .modal-icon{ font-size: 2.5rem; border-radius: 100%; width: 70px; height: 70px; line-height: 80px; display: block; margin: rem(-50) auto 0; background-color: var(--white-color); color: var(--primary-color);}
    .modal-title2{ color: var(--primary-color);}
    p{ margin: 0; text-align: center; color: var(--gray-color-50);}
 }
 
 #warningAlertModal{
 .modal-title2 , .modal-icon {color: var(--warning-color);}	
 .modal-content{ border-top: .3em solid var(--warning-color);}
 }
 
 #dangerAlertModal{
 .modal-title2 , .modal-icon {color: var(--danger-color);}	
 .modal-content{ border-top: .3em solid var(--danger-color);;}
 }

 /**** btn close ****/
 
 .btn-close{ background-image: none;
    &:before{ @include font-icon; content: "\e905";}
 }
