<!-- 
<div id="layout-wrapper">
    <app-top-bar (mobileMenuButtonClicked)="onToggleMobileMenu()"></app-top-bar>
  
  
    <app-side-bar></app-side-bar>
    <app-loading-indicator *ngIf="loadingService.isLoading"></app-loading-indicator>
    <div class="main-content">
      <div class="page-content">
        <router-outlet></router-outlet>

      </div>
  
      <app-footer></app-footer>
    </div>
  </div> -->



  <main id="sidebar-wrapper" class="sidebar-wrapper" [ngClass]="sideMenuToggled?'sidebar-show':''">
    <app-side-bar
        (sideMenuToggledChange)="handleSideMenuToggledChange($event)">
    </app-side-bar>
    <app-loading-indicator *ngIf="loadingService.isLoading"></app-loading-indicator>
    <app-top-bar (sideMenuToggled)="toggleSideMenu($event)"></app-top-bar>
    
    <section [ngClass]="sideMenuToggled?'full-width':''" class="page-content">
        <router-outlet></router-outlet>
    </section>
    <app-footer></app-footer>
    <div class="sidenav-backdrop" (click)="closeSideMenu()" [ngClass]="sideMenuToggled && isSmallScreen?'active':''"></div>
</main>
  
  