<p-toast></p-toast>
<div class="content">
    <div class="card-widget">
      <div class="error">
        <div class="error-cantent">
          <i><img src="../../../../assets/images/error-401.svg" alt=""/></i>
          <h1><span>Error 401 -</span> Unauthorized</h1>
          <p>You do not have permission to view this directory or page using the credentials that you supplied.</p>
          <a routerLink="/dashboard" class="btn btn-primary">Go to homepage</a>
        </div><!--error-content-->
      </div><!--error-->
    </div><!--card-widget-->
  </div>